<head>

    <title>Hey Change the Title!!!</title>
    

</head>
<body>
    
    <img src="images/twelve_oaks-logo.jpg" alt="logo_main" class="logo-welcome">
    <img src="images/Lawn1.jpg" alt="logo" class="image1-welcome">
    <img src="images/Lawn2.jpg" alt="logo" class="image2-welcome">
    <img src="images/Lawn3.jpg" alt="logo" class="image3-welcome">
    <img src="images/Lawn4.jpg" alt="logo" class="image4-welcome">
    <img src="images/Lawn5.jpg" alt="logo" class="image5-welcome">
    <img src="images/Lawn6.jpg" alt="logo" class="image6-welcome">
    <img src="images/Lawn7.jpg" alt="logo" class="image7-welcome">
    <img src="images/Lawn8.webp" alt="logo" class="image8-welcome">


    <div class="slogan-welcome">
        <div class="slogan-text-welcome">
        <h1>Satisfaction guaranteed or double your grass back.</h1>
    </div>
    




</body>