<div class="enquiry_signup">
    <form method='POST' action='/enquiries'>

<label for="enquiry"><h2>Tell us a bit about your lawncare needs:</h2></label><br>
    <textarea id="enquiry" name="enquiry" cols="80" rows="20"></textarea><br><br>

    <input type="submit" value="submit">
</form>
</div>